$red: (
  10: #ffe6e7,
  20: #ffbdc0,
  30: #ff969c,
  40: #f26b72,
  50: #e6434b,
  60: #da1e28,
  70: #b01018,
  80: #85050c,
  90: #5c0005,
  100: #300003,
);

$gray: (
  10: #f5f5f5,
  15: #ebebeb,
  20: #e0e0e0,
  25: #d1d1d1,
  30: #c2c2c2,
  40: #a3a3a3,
  50: #858585,
  60: #707070,
  65: #616161,
  70: #525252,
  75: #474747,
  80: #3d3d3d,
  85: #333333,
  90: #292929,
  95: #1f1f1f,
  100: #141414,
);

$colors: (
  "red": $red,
  "gray": $gray,
);
